body {
    background-color: #ECECEC;
    font-family: "Rajdhani", sans-serif;
}

/* assegnazione font testi */
.font-imp {
    font-family: "Nova Square", sans-serif;
}

.font-imp-2 {
    font-family: "Rajdhani", sans-serif;
}

.logo {
    width: 115px;
}

/* assegnazione delle variabili */
:root {
    --prim-color: darkred;
    --sec-color: #C67F7F;
    --ter-color: rgb(236, 236, 236);
}

/* assegnazione colori testi */
.tx-1 {
    color: var(--prim-color);
}

.tx-2 {
    color: var(--sec-color);
}

.tx-3 {
    color: var(--ter-color);
}

/* assegnazione background colore grigio */
.bg_grigino {
    background-color: #ECECEC;
}

.bg-rosso {
    background-color: var(--prim-color);
}

.bg_rosino {
    background: linear-gradient(rgb(198, 127, 127), rgba(198, 127, 127, 0.26));
    height: 120px;
    font-size: medium;
}

/* CSS sezione Navbar */
nav ul li {
    margin: 0px 40px;
}

@media screen and (max-width:767px) {
    nav ul li {
        margin: 0px 15px;
    }
}

.navbar-nav {
    flex-direction: row;
}

/* Home page - Titolo e colore di sfondo */
.first-section {
    background: linear-gradient(rgb(236, 236, 236), rgba(236, 236, 236, 0)), url(./media/mountains2.png), url(./media/switzerland-862870_1920.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title {
    font-size: 70px;
    letter-spacing: 30px;
    left: 50%;
    top: 50%;
    /* cercare questo comando */
    transform: translate(-50%, -50%);
}

@media screen and (max-width:767px) {
    .title {
        font-size: 50px;
        letter-spacing: 10px;
    }
}

/* Commento centrale con virgolette */
.testo {
    width: 40%;
    position: relative;
}

@media screen and (max-width:767px) {
    .testo {
        width: 70%;
    }
}

.testo::before {
    position: absolute;
    content: open-quote;
    color: var(--prim-color);
    font-size: 50px;
    top: -15px;
    left: -15px;
}

.testo::after {
    position: absolute;
    content: close-quote;
    color: var(--prim-color);
    font-size: 50px;

}

/* Icone */
.icone {
    max-width: 40px;
    max-height: 40px;
}

.column {
    flex-direction: column;
    align-items: center;
    justify-content: space;
    border-bottom: var(--prim-color) 2px solid;
    width: 200px;
    margin: 0px 20px;
}

.cerchio {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--prim-color);
    background-color: white;
    top: 95%;
}

/* Bottone */
.bottone {
    width: 120px;
    height: 30px;
    border: 0;
    margin-top: 35px;
    text-align: center;
    color: white;
    background-color: var(--prim-color);
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 45%;
}

/* Timeline */
.cerchio2 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--prim-color);
    background-color: white;
    left: -9px;
    position: absolute;
}

.bordo_sx {
    border-left: var(--prim-color) 2px solid;
}

.single {
    bottom: 0px;
    right: 0px;
}

/* Team */
.cerchio3 {
    width: 125px;
    height: 125px;
    border: 2px solid var(--prim-color);
    background-position: center;
    padding: 7px;
}

.piccolino {
    font-size: small;
}

/* Benefit */
.cerchio4 {
    width: 250px;
    height: 250px;
    border: 2px solid var(--prim-color);
    background-position: center;
    padding: 7px;
}

footer ul li a {
    text-decoration: none;
    color: white;
}